button{
  box-shadow:inset 0px -3px 7px 0px #29bbff;
	background-color:#6FDDED;
	border-radius:3px;
	border:1px solid #6FDDED;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
