.name {
  display: flex;
  justify-content: center;
  background-color: #dbf3f7;
  box-shadow: inset 0px 6px 7px 2px black;
}
.description {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  font-size: 18px;
  background-color: #dbf3f7;
  background-color: #d3ebef;
  box-shadow: inset -1px 4px 4px 2px #3e4848;
}
.infocontTop {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
.infocontBot {
  display: flex;
  justify-content: space-around;
}

.info {
  background-color: #a2bebf;
}
.infoTotal {
  background-color: #a2bebf;
  box-shadow: inset 1px -7px 19px black;
}
.booknowbtn{
  display: flex;
  justify-content: center;

}
