body{
    margin: 0;
}
p{
  margin: 0;
display: flex;
justify-content: center;

}
.header{
  font-size: 24px;

  background-color: #6FDDED;
    height:25vw;
}

img{
  height: 25vw;
  width: 25vw;
}
.img{
  margin-top: -27.5px;
  text-align:right;
}
